# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Setting files
*/settings/production.py

# Emacs buffer files:
*#*#

# Emacs backup files:
*~

# Static and media files
static/
media/

# Rope project
.ropeproject

# JetBrains project settings
.idea/

# Local environment
[v]env/
