* {
  outline: none;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.secret-key {
  margin-top: 1em;
}

.secret-key input {
  padding: 0;
  height: 2em;
  cursor: pointer;
  font-size: 12pt;
  border-radius: 1em;
  text-align: center;
  border: 1px solid gray;
  -webkit-tap-highlight-color: transparent;
}

.secret-key button {
  height: 2em;
  font-size: 12pt;
  cursor: pointer;
  text-align: center;
  border-radius: 1em;
  border: 1px solid gray;
  background-color: transparent;
}
