<!DOCTYPE html>
<meta charset="utf-8">

{% load staticfiles %}

<head>
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">
  <title>
    {% block title %}
      Django secret key generator
    {% endblock title %}
  </title>
</head>

<body>

<h1>Django Secret Key Generator</h1>

<form action="/" method="post">
  {% csrf_token %}
  <input type="submit" value="Generate keys">
</form>

{% if secret_keys %}
  <ul style="padding-left: 0">
    {% for id, secret_key in secret_keys.items %}
      <li style="list-style: none">
        <label>
          <input type="text" size="50" style="font-family: Droid Sans Mono, sans-serif" value="{{ secret_key }}">
        </label>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% block footer %}
  <p><a href="https://github.com/jlhg/djskgen" target="_blank">Source Code on GitHub</a></p>
{% endblock footer %}

</body>
